# Docs: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Tests

on:
  push:
    branches: ['master', 'develop']
  pull_request:
    branches: ['master', 'develop']

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      COMPOSE_FILE: docker/infra.yml
    steps:
      - uses: actions/checkout@v3
      - run: yarn
      - run: docker compose up -d
      - run: sleep 1
      - run: npx prisma migrate dev
      - run: npx jest --runInBand --coverage
      - run: docker compose down
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
